* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 20px 0 27px;
  background-image: url(../images/background@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-buttons {
  margin-bottom: 97px;
  display: flex;
  gap: 5px;
}

.btn {
  border-radius: 40px;
  background-color: transparent;
  font-size: 0.85em;
  font-weight: 300;
}

.btn-transparent {
  border: none;
}

.btn-outlined {
  border: 2px solid;
}

.header .btn {
  height: 36px;
  min-width: 90px;
  color: #fff;
}

.header-buttons .btn-outlined {
  border-color: #fff;
}

.logo {
  font-size: 1.25em;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 50px 148px;
  }
  .header-buttons {
    margin-bottom: 0;
  }
}

.intro {
  background-image: linear-gradient(to top, #ff4e50, #f9d423);
  text-align: center;
  padding-bottom: 153px;
}

.intro-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.65em;
  max-width: 262px;
  margin: 0 auto 5px;
}

.intro-subtitle {
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.36;

  max-width: 270px;
  margin: 0 auto 15px;
  color: #f7f3f2;
}

.btn-primary {
  border: 2px solid #ff4e50;
  background: #ff4e50;
  color: #fff;
  min-width: 280px;
  height: 40px;
}

@media (min-width: 768px) {
  .intro {
    padding-bottom: 224px;
  }
  .intro-title {
    font-size: 3em;
    margin: 0 auto 21px;
    max-width: 454px;
  }
  .intro-subtitle {
    max-width: 398px;
    font-size: 1.5em;
    margin: 0 auto 33px;
  }
  .btn-primary {
    min-width: 225px;
  }
}

.how-it-works {
  padding: 35px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary-headline {
  font-size: 1.125em;
  font-weight: 400;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .secondary-headline {
    margin-bottom: 35px;
    font-size: 1.375em;
  }
}

.step-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.step-list_item:nth-child(1) {
  background-image: url(../images/steps/step1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 90%;
}

.step-list_item:nth-child(2) {
  background-image: url(../images/steps/step2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 90%;
}

.step-list_item:nth-child(3) {
  background-image: url(../images/steps/step3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 90%;
}

.step-list_item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 300px;
  height: 240px;
  padding: 0 30px 16px 20px;
  border-radius: 4px;
}

.step-number {
  border-radius: 40px;
  min-height: 20px;
  width: 70px;
  background: #ff4e50;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.63em;
  letter-spacing: 0.25em;
  line-height: 0;
  font-weight: 300;
  margin-block: 0;
  margin-bottom: 15px;
}

.step-title {
  color: #fff;
  font-weight: 300;
  font-size: 1.625em;
  margin-bottom: 10px;
}

.step-subtitle {
  color: #e3e3e3;
  font-weight: 300;
  font-size: 0.875em;
}

@media (min-width: 768px) {
  .how-it-works {
    padding: 95px 10px 0;
  }
  .step-list {
    flex-direction: row;
    gap: 20px;
  }
  .step-list_item {
    width: 236px;
    height: 400px;
  }
}

.partner-section {
  padding: 36px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* .partner-icon-bg {
  background-color: #ff4e50;
  border-radius: 50%;
} */

.partner-list {
  padding: 0 22px;
}

.partner-img {
  margin-bottom: 17px;
}

.partner-name {
  margin-bottom: 12px;
  font-size: 1.125em;
}

.partner-desc {
  color: #666666;
  margin-bottom: 16px;
  max-width: 236px;
}

.btn-secondary {
  min-width: 280px;
  height: 40px;
  border-color: #ff4e50;
  color: #ff4e50;
  font-size: 1.125em;
}

@media (min-width: 768px) {
  .partner-section {
    padding: 95px 138px 0;
  }
  .partner-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 35px;
    padding: 0;
    margin-bottom: 40px;
  }
  .partner-desc {
    margin-bottom: 0;
  }
}

.activity-section {
  padding: 35px 10px 0;
  text-align: center;
}

.activity-section .secondary-headline {
  margin: 0 10px 33px;
}

.activity-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.activity-list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 120px;
  border-radius: 4px;
  color: #fff;
  font-size: 1.25em;
  font-weight: 300;
  padding: 0 25px;
}

.activity-list_item:nth-child(1) {
  background-image: url(../images/activities/group-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 90%;
}
.activity-list_item:nth-child(2) {
  background-image: url(../images/activities/group-5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
}
.activity-list_item:nth-child(3) {
  background-image: url(../images/activities/group-6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
}
.activity-list_item:nth-child(4) {
  background-image: url(../images/activities/group-7.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 90%;
}
.activity-list_item:nth-child(5) {
  background-image: url(../images/activities/group-8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 90%;
}
.activity-list_item:nth-child(6) {
  background-image: url(../images/activities/group-9.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
}
.activity-list_item:nth-child(7) {
  background-image: url(../images/activities/group-10.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 10%;
}

@media (min-width: 768px) {
  .activity-section {
    padding: 95px 10px 0;
  }

  .activity-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .activity-list_item {
    width: 30.7%;
    height: 310px;
    background-position-x: center;
  }
  .activity-list_item__large {
    width: 64%;
  }
  .activity-list_item:nth-child(7) {
    background-position-x: 0;
  }
  .activity-list_item:nth-child(6) {
    background-position-x: 0;
  }
}

.create-activity {
  padding: 35px 20px 40px;
  text-align: center;
  border-bottom: solid 2px #ff4e50;
}

.create-subtitle {
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 15px;
  color: #666666;
  letter-spacing: 0.5px;
}

.create-input {
  width: 280px;
  height: 40px;
  border: solid 1px #d4d4d4;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
  margin-bottom: 10px;
  padding-left: 15px;
}

.create-input:placeholder-shown {
  color: #999999;
  opacity: 0.7;
}

@media (min-width: 768px) {
  .create-activity {
    padding: 95px 0 100px;
  }
  .create-activity .secondary-headline {
    margin-bottom: 43px;
  }
  .create-subtitle {
    margin-bottom: 25px;
  }
  .create-input {
    width: 299px;
    margin-right: 10px;
  }
}

.footer {
  padding: 20px;
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
}

.logo-footer {
  color: #ff4e50;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 12px;
}

.footer_text-content {
  font-size: 0.9em;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  row-gap: 0;
  margin-bottom: 5px;
}

.footer-list_link {
  font-size: 0.875em;
  color: #999999;
  line-height: 1.86;
  font-weight: 300;
}

.footer_subtext {
  font-size: 0.7em;
  text-transform: uppercase;
  color: #999999;
  margin-top: 13px;
  margin-bottom: 7px;
  letter-spacing: 1.5px;
  opacity: 0.5;
}
